*{
    margin: 0;
    padding: 0;
}
body{
    background-color: floralwhite;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: lightseagreen;
    margin: 0 auto;
    padding: 20px;
    
}
img{
    width:100px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;

}
.name{
    float: left;
    padding: 30px;
}
h1,h3{
    color: black;
}
.name1{
    float: right;
    padding: 3px;
   
}
.name1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.name1 a:hover{
    background-color:paleturquoise;
    
    text-decoration: underline;
}
.div-clear{
    clear: both;
}
hr{
   border: 2px solid black;
   width: 100%;
   margin: 10px auto; 
   border-bottom: none;
}
/*personal section start*/
.content{

}
.left{
    float: left;
    width: 40%;

}
.right{
  float: right;
  width: 60%;
  padding: 10px 0;

}
.common-hr{
    border: 2px solid black;
    width: 100%;
    margin: 20px auto;

}
/*education section start*/
.right1{
    float:right;
    width: 30%;
}
.right2{
    width: 25%;
    float: right;
}
/*reference section start*/
.div-right1{
    float: right;
    width: 30%;
}
.div-right2{
    float: right;
    width: 30%;
}
/*footer start*/
.bottom-container{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    color:papayawhip ;
    text-decoration: none;
    margin: 30px;
    padding: 10px;
}
.bottom-container a:hover{
    background-color: royalblue;
    color:whitesmoke;
}
.bottom-container p{
    color: white;
    margin-top: 10px;
}

